html {
  font-size: 0.95rem;
  line-height: 1.2;

  display: flex;
  justify-content: center;

  /* Add a little banner thing to the top of the PDF */
  /* The SVG renders badly in some PDF viewers, so I use a PNG */
  background:
    url("./tile_circuit.png") top/auto 80px repeat-x !important;

  color: black !important;
}

/* Smaller font size on small devices */
@media screen and (max-width: 760px) {
  html {
    font-size: 0.8rem;
  }
}

html > body {
  margin-top: 7mm;
  margin-left: 13mm;
  margin-right: 13mm;

  background: none !important;
  color: inherit !important;
}

@media screen {
  html {
    --edge-col: rgb(223, 253, 223);
    --edge-percent: 10%;

    background:
      url("./tile_circuit.png") top/auto 80px repeat-x,
      linear-gradient(90deg, var(--edge-col), white var(--edge-percent), white calc(100% - var(--edge-percent)), var(--edge-col)) !important;
  }

  html > body {
    margin-bottom: 7mm;
    /* Force the web's width to A4 width */
    max-width: calc(210mm - 2 * 13mm);
  }
}

/* Print layout settings */
@media print {
  @page {
    size: A4;
    margin: 0;
    margin-top: 13mm;
    margin-bottom: 13mm;
  }

  @page :first {
    margin-top: 0mm;
  }
}
