@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: fixed url(noise64.png) left top/512px, black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  .glow-hover {
    @apply hover:[text-shadow:0_0_4px_white];
    @apply transition-[text-shadow];
  }
}
